body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: lightblue;
    margin: 20px;
}

aml-card {
    margin-left: 6px;
    margin-right: 6px;
    display: inline-block;
}

.aml-inline {
    display: inline-block;
}

#aml-shuffle-btn {
    margin: 10px 6px auto 6px;
    width: 200px;

}

.aml-fade
{
    opacity: 1;
}

.aml-fade.ng-enter {
    transition:0.5s linear all;
    -webkit-transition:0.5s linear all;
    opacity:0;
}

/* The finishing CSS styles for the enter animation */
.aml-fade.ng-enter.ng-enter-active {
    opacity:1;
}


.aml-rotate.front.on-add {
    animation-name: fade-kf;
    animation-iteration-count: 1;
    animation-duration: 1s;
    -webkit-animation-name: fade-kf;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-duration: 1s;
}

.aml-rotate.back.on-add {
    animation-name: fade-kf2;
    animation-iteration-count: 1;
    animation-duration: 1s;
    -webkit-animation-name: fade-kf2;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-duration: 1s;
}

.aml-rotate.front.on-remove {
    animation-name: fade-kf2;
    animation-iteration-count: 1;
    animation-duration: 1s;
    -webkit-animation-name: fade-kf2;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-duration: 1s;
}

.aml-rotate.back.on-remove {
    animation-name: fade-kf;
    animation-iteration-count: 1;
    animation-duration: 1s;
    -webkit-animation-name: fade-kf;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-duration: 1s;
}


.aml-card-wrapper {
    position: relative;
    width: 200px;
    height: 290px;
}

.aml-rotate.aml-card-img.front {
    opacity: 0;
}

.aml-rotate.aml-card-img.back {
    opacity: 1;
}

.aml-rotate.aml-card-img.front.on {
    opacity: 1;
}

.aml-rotate.aml-card-img.back.on {
    opacity: 0;
}

@keyframes fade-kf {
    0% {opacity: 0; transform: rotateY(0deg)}
    40% {opacity: 0; }
    50% {opacity: 1; transform: rotateY(-90deg)}
    100% {opacity: 1; transform: rotateY(0deg) }
}

@keyframes fade-kf2 {
    0% {opacity: 1; transform: rotateY(0deg)}
    40% {opacity: 1; }
    50% {opacity: 0; transform: rotateY(90deg)}
    100% {opacity: 0; transform: rotateY(0deg)}
}

@-webkit-keyframes fade-kf {
    0% {opacity: 0; -webkit-transform: rotateY(0deg)}
    40% {opacity: 0; }
    50% {opacity: 1; -webkit-transform: rotateY(-90deg)}
    100% {opacity: 1; -webkit-transform: rotateY(0deg) }
}

@-webkit-keyframes fade-kf2 {
    0% {opacity: 1; -webkit-transform: rotateY(0deg)}
    40% {opacity: 1; }
    50% {opacity: 0; -webkit-transform: rotateY(90deg)}
    100% {opacity: 0; -webkit-transform: rotateY(0deg)}
}

.aml-card-img {
    position: absolute;
}