body {
    text-align: center;
}

#aml-hello-ex {
    text-align: center;
    background-color: #A80CA8;
    color: #ffffff;
    display: inline-block;
    padding: 25px;
    min-width: 50%;
    max-width: 65%;
    border: 1px solid #A80CA8;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    
}

#aml-hello-ex label {
    font-size: 2em;
}

.aml-hello-ex-input {
    text-align: left;
    margin-bottom: 30px;
}

#aml-hello-ex-output {
    text-align: center;
}

h1.aml-hello-title {
    font-size: 3em;
}
