<div id="angular2-2-slide" class="aml-slide">
    <div class="aml-slide-inner">
        <h1 class="aml-slide-title">AngularJS 2.0</h1>

        <ul class="aml-slide-points">
            <li ng-show="showNav(0)">Also based on a Javascript extension called TypeScript, including:</li>
            <li ng-show="showNav(1)">
                <div>Types on properties and function parameters</div>
                <div class="aml-code" ng-show="showNav(2)">
                    <pre><code hljs include="'js/examples/typescript.js'" ></code></pre>
                </div>
            </li>
            <li ng-show="showNav(3)">
                <div>Annotations</div>
                <div class="aml-code" ng-show="showNav(4)">
                    <pre><code hljs include="'js/examples/annotations.js'" ></code></pre>
                </div>
            </li>
        </ul>
    </div>

</div>