<div id="angular2-3-slide" class="aml-slide">
    <div class="aml-slide-inner">
        <h1 class="aml-slide-title">AngularJS 2.0</h1>

        <ul class="aml-slide-points">
            <li ng-show="showNav(0)">No more controllers, directives, scopes - just annotated classes (components)</li>
            <li ng-show="showNav(1)">TypeScript compiled to ECMAScript 6 so that it can run in browsers</li>
            <li ng-show="showNav(2)">Unstable, rapidly changing API and backing technologies</li>
            <li ng-show="showNav(3)">Not ready before end of 2015 (optimistic guesstimate), more realistically mid-2016</li>
        </ul>
    </div>

</div>