<div id="angular2-1-slide" class="aml-slide">
    <div class="aml-slide-inner">
        <h1 class="aml-slide-title">AngularJS 2.0</h1>

        <ul class="aml-slide-points">
            <li ng-show="showNav(0)">A major re-architecture of AngularJS</li>
            <li ng-show="showNav(1)">Similar principles and philosophy, very different way of getting there</li>
            <li ng-show="showNav(2)">
                <div>Based on the new Javascript standard (ECMAScript 6), featuring classes...</div>
                <div class="aml-code" ng-show="showNav(3)">
                    <pre><code hljs include="'js/examples/es6-class.js'" ></code></pre>
                </div>
            </li>
            <li ng-show="showNav(4)">
                <div>...and modules</div>
                <div class="aml-code" ng-show="showNav(5)">
                    <pre><code hljs include="'js/examples/import.js'" ></code></pre>
                </div>
            </li>

        </ul>
    </div>

</div>