<div id="services-slide" class="aml-slide">
    <div class="aml-slide-inner">
        <h1 class="aml-slide-title">Directives</h1>

        <ul class="aml-slide-points">
            <li ng-show="showNav(0)">
                <div>We can write our own</div>
                <div class="aml-code" ng-show="showNav(1)">
                    <pre><code hljs include="'views/examples/phone-number-directive-ex.html'" ></code></pre>
                </div>
                <phone-number label-color="blue" ng-show="showNav(2)">060 603 912</phone-number>
            </li>
            <li ng-show="showNav(3)">
                <div>The definition:</div>
                <div class="aml-code">
                    <pre><code hljs include="'js/examples/phone-number.js'"></code></pre>
                </div>
            </li>
            <li ng-show="showNav(4)">
                <div>The template:</div>
                <div class="aml-code">
                    <pre><code hljs include="'views/directives/phone-number.html'"></code></pre>
                </div>
            </li>
        </ul>
    </div>

</div>