<div id="features-slide" class="aml-slide">
    <div class="aml-slide-inner">
        <h1 class="aml-slide-title">Core Features</h1>

        <ul class="aml-slide-points">
            <li ng-show="showNav(0)">Data binding</li>
            <li ng-show="showNav(1)">Declarative approach to building the UI part</li>
            <li ng-show="showNav(2)">
                <div>Dependency injection</div>
                <div class="aml-code">
                    <pre><code hljs include="'/js/examples/dependency-injection.js'" ></code></pre>
                </div>
            </li>
        </ul>
    </div>

</div>