<div id="filters-slide" class="aml-slide">
    <div class="aml-slide-inner">
        <h1 class="aml-slide-title">Filters</h1>

        <ul class="aml-slide-points">
            <li ng-show="showNav(0)">
                <div>Transform a bound expression, such as format a date</div>

                <iframe ng-show="showNav(1)" height="200"  ng-src="/filter.html" style="margin-top: 30px; width: 75%; border: none"></iframe>
                <div class="aml-code" ng-show="showNav(2)">
                    <pre><code hljs include="'/views/examples/filters-ex.html'" ></code></pre>
                </div>
            </li>
            <li ng-show="showNav(3)">
                Can be injected into an angular controller or directive and used in code
            </li>
            <li ng-show="showNav(4)">
                Possible to write your own, custom filters
            </li>
        </ul>
    </div>

</div>