<div id="aml-intro" class="aml-center" ng-keypress="amlMainCtrl.kp($event)">
    
    <div style="text-align: center;"><img src="img/marand_logo2.png" width="300" height="77"></img></div>

    <div id="aml-intro-title" style="text-align: center;">
        <h1>Intro to AngularJS</h1>
        <h2>Marand, July 2015</h2>
        <h3>Matija Kejžar &lt;matija.kejzar@marand.si&gt;</h3>
    </div>

    <div style="text-align: center;"><img src="img/AngularJS-large.png" width="300" height="85"></img></div>
</div>
