<div id="angular2-3-slide" class="aml-slide">
    <div class="aml-slide-inner center">

        <div class="aml-center">
            <h1 class="aml-huge-title">Questions?</h1>
            <h2>This presentation is an AngularJs app! It's available at:</h2>
            <h3>https://github.com/MadMatt04/angular-marand-lesson</h3>

            <div id="aml-attributions">
                <div>Phone icon made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>, licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
                <div>Card back image made by <a href="http://opengameart.org/content/colorful-poker-card-back" title="jeffshee">jeffshee</a> from <a href="http://opengameart.org" title="Open Game Art">http://opengameart.org</a>, licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
                <div>Card images by <a href="https://code.google.com/p/vector-playing-cards/" title="Brian Knoll">Brian Knoll</a> </div>
            </div>

        </div>

    </div>



</div>