<div id="features-slide" class="aml-slide">
    <div class="aml-slide-inner">
        <h1 class="aml-slide-title">Other Angular Services &amp; Modules</h1>

        <ul class="aml-slide-points">
            <li ng-show="showNav(0)"><span class="aml-service-name">$http</span> - Communicate with a web server</li>
            <li ng-show="showNav(1)"><span class="aml-service-name">ngResource</span> - Make REST calls and manage REST resources</li>
            <li ng-show="showNav(2)"><span class="aml-service-name">ngAnimate</span> - Animation support</li>
            <li ng-show="showNav(3)"><span class="aml-service-name">ngRoute</span> - Application navigation&amp; view support</li>
            <li ng-show="showNav(4)"><span class="aml-service-name">ngAria</span> - Accessibility &amp; assistive technology support</li>
            <li ng-show="showNav(5)"><span class="aml-service-name">Promises</span> - Asynchronous task execution support</li>
        </ul>
    </div>

</div>