<div id="whatis-slide" class="aml-slide">
    <div class="aml-slide-inner">
        <h1 class="aml-slide-title">What is AngularJS?</h1>

        <ul class="aml-slide-points">
            <li ng-show="showNav(0)">An HTML5 web application framework</li>
            <li ng-show="showNav(1)">Developed by Google and a large open source community</li>
            <li ng-show="showNav(2)">A <span class="aml-emphasis">client-side</span> framework (runs in browser)</li>
            <li ng-show="showNav(3)">A <span class="aml-emphasis">single-page</span> framework (primarily)</li>
        </ul>
    </div>

</div>